

   .detailsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .basicInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  .advInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 1rem 0;
  }
  
  .clubName {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
  }
  
  .container {
    display: flex;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 5px ;
    padding: 1.2rem;
  }
  
  .infoLabel {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem ;
  }
  
  .infoValue {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  