.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 0 20px;
  }
  
  .navbarBrand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
  }
  
  .navbarNav {
    display: flex;
    align-items: center;
  }
  
  .navItem {
    list-style-type: none;
    margin: 0 10px;
  }
  
  .navLink {
    text-decoration: none;
    color: #fff;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }

  



  .dropdownMenu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 200px;
    z-index: 1;
  }
  
  .dropdownLink {
    color: #333;
    padding: 5px;
    text-decoration: none;
  }
  
  /* Styles for the open state of the dropdown menu */
  
  .navLink:focus,
  .navLink:hover {
    background-color: #e5e5e5;
    cursor: pointer;
  }
  
  .dropdownMenu.active {
    display: flex;
  }
  
  /* Styles for the closed state of the dropdown menu */
  
  .dropdownMenu {
    display: none;
  }
  